.classpath
.factorypath
.project
.settings
.springBeans
.DS_Store
**/*~
**/target/
**/*.orig
**/*.swp
**/*.swo
LOG_DIR_IS_UNDEFINED
console.log
BCKP/**
**/node_modules/**
.apiconnect
attic/**
.idea/
junk/
