///@import '~@angular/material/toolbar/toolbar';
//@import 'app.media';

$mat-toolbar-height-desktop: 66px;
$mat-toolbar-height-mobile-portrait: 58px;
$mat-toolbar-height-mobile-landscape: 50px;

//%absolute-fixed {
//  position: absolute;
//  overflow-x: hidden;
//  overflow-y: hidden;
//  right: 0;
//  left: 0;
//}

%scroll-container {
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}

@mixin mat-toolbar-spacers($height) {
  .toolbar-spacer {
    display: block;
    flex: 0 1 $height;
  }

  .navbar-spacer {
    display: block;
    flex: 0 1 50px; // $height + 50px;
  }

  .toolbar-scrollable {
    display: block;
    flex: 0 1 100%;
    padding-top: 0px; // $height;
    padding-bottom: 32px;
    overflow-y: visible;
    overflow-x: auto;
  }

  .navbar-scrollable {
    display: block;
    flex: 0 1 100%;
    //height: 100vh;
    padding-top: 50px; // $height + 50px;
    padding-bottom: 32px;
    overflow-y: visible;
    overflow-x: auto;
  }

  .toolbar-top {
    top: 0;
    height: $height;
    z-index: 1030;
    overflow-x: hidden;
    overflow-y: hidden;
    right: 0;
    left: 0;
  }

  .navbar-top {
    top: $height;
    z-index: 30;
    overflow-x: hidden;
    overflow-y: hidden;
    right: 0;
    left: 0;
  }
}

.side-panel-container {
  @extend %scroll-container;
  padding-top: 0px; // $height;
  padding-bottom: 32px;
  width: 300px;
}

.main-panel-container {
  @extend %scroll-container;
  padding-top: 50px; // $height + 50px;
  padding-bottom: 32px;
  width: 100vw;
}

.right-button-panel {
  position: fixed;
  float: right;
  top: 50px; // $height + 50px;
  right: 24px;
  z-index: 10;
}

// Set the default height for the toolbar.
$phName: "desktop";
@include mat-toolbar-spacers($mat-toolbar-height-desktop);

// Specific height for mobile devices in portrait mode.
$phName: "portrait";
@media ($mat-xsmall) and (orientation: portrait) {
  //%absolute-fixed-portrait {
  //  position: absolute;
  //  overflow-x: hidden;
  //  overflow-y: hidden;
  //  right: 0;
  //  left: 0;
  //}

  //%scroll-container-portrait {
  //  display: flex;
  //  flex-flow: column nowrap;
  //  flex-direction: column;
  //  flex-wrap: nowrap;
  //  overflow-y: hidden;
  //  overflow-x: hidden;
  //}

  @include mat-toolbar-spacers($mat-toolbar-height-mobile-portrait);
}

// Specific height for mobile devices in landscape mode.
$phName: "landscape";
@media ($mat-small) and (orientation: landscape) {
  //%absolute-fixed-landscape {
  //  position: absolute;
  //  overflow-x: hidden;
  //  overflow-y: hidden;
  //  right: 0;
  //  left: 0;
  //}

  //%scroll-container-landscape {
  //  display: flex;
  //  flex-flow: column nowrap;
  //  flex-direction: column;
  //  flex-wrap: nowrap;
  //  overflow-y: hidden;
  //  overflow-x: hidden;
  //}

  @include mat-toolbar-spacers($mat-toolbar-height-mobile-landscape);
}

.screen-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll-container {
  @extend %scroll-container
}

%scrollable {
  display: block;
  flex: 0 1 100vh;
  overflow-y: auto;
  overflow-x: visible;
}

.pool-list {
  @extend %scroll-container
}

.scroll-main {
  @extend %scrollable
}

div.scrollable, .scrollable {
  @extend %scrollable
}

footer {
  // position: absolute;
  height: 32px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #f0f0f0;
}

