<md-toolbar color="primary" class="control-theme">
  <span md-dialog-title>Authentication Required</span>
  <div flex-spacer></div>
  <button md-icon-button md-dialog-close color="warn" class="mr-auto">
    <md-icon>close</md-icon>
  </button>
</md-toolbar>
<md-dialog-content>
  <div fxLayout="column" fxLayoutWrap.gt-sm fxLayoutAlign="start stretch">
    <span flex.gt-sm="1 1 20%" fxFlexOrder.gt-sm="1">You've accessed a feature of this site that requires a logged in user account.</span>
    <span flex.gt-sm="2 2 40%" fxFlexOrder.gt-sm="2">Use your account with Google, Facebook, or BioID by selecting the appropriate provider's button.</span>
    <div fxLayout="row" flex.gt-sm="3 3 50%" fxFlexOrder.gt-sm="4" flexLayoutAlign="space-around" fxFlexAlign="stretch">
      <a class="loginBtn loginBtnGoogle" (click)="login('google')"><span class="text">Google</span></a>
      <a class="loginBtn loginBtnFacebook" (click)="login('facebook')"><span class="text">Facebook</span></a>
      <a class="loginBtn loginBtnOicd" (click)="login('bioid')"><span class="text">BioId</span></a>
    </div>
    <span flex.gt-sm="2 2 40%" fxFlexOrder.gt-sm="3">Alternately, </span>
    <div fxFlexLayout="row" fxFlex.gt-sm="2 2 50%" fxFlexOrder.gt-sm="5">
      <button md-raised-button (click)="register()" color="primary">Registration Form</button>
      <button md-raised-button (click)="login()" color="primary">Local Login Form</button>
    </div>
  </div>
  <button md-raised-button md-dialog-close color="warn" class="mr-auto">Cancel</button>
</md-dialog-content>

