#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>

<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback logback.xsd">

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${symbol_dollar}{name.jchein.log.level:-TRACE}</level>
		</filter>
	</appender>

	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${symbol_dollar}{LOG_DIR}/rest-demo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${symbol_dollar}{name.jchein.log.path:-target/logs}/daily/rest-demo.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days of per-day history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="minuteRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover every minute -->
			<fileNamePattern>${symbol_dollar}{name.jchein.log.path:-target/logs}/minute/rest-demo-minute.%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>

			<!-- keep two hours of per-minute history -->
			<maxHistory>120</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="org.codingpedia" additivity="false" level="DEBUG">
		<appender-ref ref="dailyRollingFileAppender" />
		<appender-ref ref="minuteRollingFileAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root level="INFO">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>
